<a href="https://colab.research.google.com/github/Henrxque/02_Pandas_Tratando_e_Analisando_Dados/blob/main/02_Pandas_Tratando_e_Analisando_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso Alura: Pandas Tratando e Analisando Dados

## Importando Bases

In [ ]:
import pandas as pd
from google.colab import drive

In [ ]:
drive.mount('/content/drive') #acessando o Drive

Mounted at /content/drive

In [ ]:
aluguel = pd.read_csv('/content/drive/MyDrive/Dataset/Aluguel/aluguel.csv', sep=';', header=0)

## Informações Gerais do Dataset

In [ ]:
aluguel.head(3)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0

In [ ]:
type(aluguel)

pandas.core.frame.DataFrame

In [ ]:
aluguel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [ ]:
aluguel.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [ ]:
tipos_de_dados = pd.DataFrame(aluguel.dtypes, columns = ['Tipos de Dados'])

In [ ]:
tipos_de_dados.columns.name = 'Variáveis'

In [ ]:
tipos_de_dados

Variáveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

Questionamento do Professor: Muitos Cientistas de Dados querem saber a quantidade total de variáveis de um Df, como fazer?

In [ ]:
aluguel.shape[0]

32960

In [ ]:
aluguel.shape[1]

9

In [ ]:
print('A Base de dados apresent {} registros e (imoveis) e {} variáveis '.format(aluguel.shape[0], aluguel.shape[1]))

A Base de dados apresent 32960 registros e (imoveis) e 9 variáveis