<a href="https://colab.research.google.com/github/Henrxque/02_Pandas_Tratando_e_Analisando_Dados/blob/main/02_Pandas_Tratando_e_Analisando_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso Alura: Pandas Tratando e Analisando Dados

## Importando Bases

In [1]:
import pandas as pd
from google.colab import drive

In [2]:
drive.mount('/content/drive') #acessando o Drive

Mounted at /content/drive

In [3]:
aluguel = pd.read_csv('/content/drive/MyDrive/Dataset/Aluguel/aluguel.csv', sep=';', header=0)

## Informações Gerais do Dataset

In [4]:
aluguel.head(3)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0

In [5]:
type(aluguel)

pandas.core.frame.DataFrame

In [6]:
aluguel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [7]:
aluguel.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [8]:
tipos_de_dados = pd.DataFrame(aluguel.dtypes, columns = ['Tipos de Dados'])

In [9]:
tipos_de_dados.columns.name = 'Variáveis'

In [10]:
tipos_de_dados

Variáveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

Questionamento do Professor: Muitos Cientistas de Dados querem saber a quantidade total de variáveis de um Df, como fazer?

In [11]:
aluguel.shape[0]

32960

In [12]:
aluguel.shape[1]

9

In [13]:
print('A Base de dados apresent {} registros e (imoveis) e {} variáveis '.format(aluguel.shape[0], aluguel.shape[1]))

A Base de dados apresent 32960 registros e (imoveis) e 9 variáveis

## Relatórios

In [14]:
aluguel['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [15]:
aluguel.Tipo

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [21]:
tipo_de_imovel = aluguel['Tipo']

In [17]:
type(tipo_de_imovel)

pandas.core.series.Series

Quero inicialmente identificar cada imovel nesta Series

In [27]:
tipo_de_imovel.drop_duplicates(inplace = True)

In [28]:
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

## Organizando a visualização

In [29]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)

In [30]:
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

Quero alterar o Índice para ficar visualmente mais apresentável

In [31]:
tipo_de_imovel.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [33]:
tipo_de_imovel.shape

(22, 1)

In [34]:
range(tipo_de_imovel.shape[0])

range(0, 22)

Alteração do indice utilizando o Range e shape

In [35]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])

In [37]:
tipo_de_imovel.columns.name = 'ID'

In [39]:
tipo_de_imovel.head()

ID                     Tipo
0                 Quitinete
1                      Casa
2   Conjunto Comercial/Sala
3               Apartamento
4        Casa de Condomínio

## Series

In [47]:
data = ['Bolo','Suco','Café','Sabonete','Aveia','Leite em Pó']

In [48]:
lista_mercado = pd.DataFrame(data)

In [49]:
lista_mercado.head()

          0
0      Bolo
1      Suco
2      Café
3  Sabonete
4     Aveia

In [53]:
index = ['Item' + str(i) for i in range(6)]

In [54]:
index

['Item0', 'Item1', 'Item2', 'Item3', 'Item4', 'Item5']

In [58]:
lista_mercado = pd.Series(data = data, index = index)

In [59]:
lista_mercado.head()

Item0        Bolo
Item1        Suco
Item2        Café
Item3    Sabonete
Item4       Aveia
dtype: object

Uma outra maneira é criar um dicionário e passá-lo para pd.Series. Realizaremos uma concatenação e estipularemos o valor i + 1

In [62]:
data = {'Item' + str(i) : i + 1 for i in range(5) }

In [63]:
data

{'Item0': 1, 'Item1': 2, 'Item2': 3, 'Item3': 4, 'Item4': 5}

In [64]:
lista_mercado = pd.Series (data)

In [65]:
lista_mercado

Item0    1
Item1    2
Item2    3
Item3    4
Item4    5
dtype: int64

## Dataframe

In [128]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]

In [129]:
df1 = pd.DataFrame(data = data)

In [130]:
df1.head()

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [131]:
index = ['Linha' + str(i) for i in range(3)]

In [132]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)

In [133]:
df1.head()

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [134]:
index = ['Linha' + str(i) for i in range(3)]

In [135]:
columns = ['Coluna' + str(i) for i in range(3)]

In [136]:
df2 = pd.DataFrame(data = data, index = index, columns = columns)

In [137]:
df2.head()

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [138]:
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]

In [139]:
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [140]:
df3 = pd.DataFrame (data = data, index = index, columns = columns)

In [141]:
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [143]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [144]:
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]

In [145]:
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [112]:
df3 = pd.DataFrame(data = data, index = index, columns = columns)

In [146]:
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [147]:
df1[df1 > 0] = 'A'
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [148]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [149]:
df3[df3 > 0] = 'C'
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

Concatenando:

In [150]:
df4 = pd.concat(['df1', 'df2', 'df3'])
df4

TypeError: ignored

## Relatório de Analise II

Utilizando Select

### Imoveis Residenciais

precisamos de uma nova base para saber somente dos imoveis resienciais

In [152]:
aluguel.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [154]:
list(aluguel['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [155]:
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Flat',
 'Casa de Vila',
 'Loft',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Studio']

In [156]:
residencial

['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Flat',
 'Casa de Vila',
 'Loft',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Studio']

In [157]:
aluguel.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [162]:
selecao = aluguel['Tipo'].isin(residencial)
selecao

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [163]:
dados_residencial = aluguel[selecao]

In [164]:
dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [167]:
list(dados_residencial['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Flat',
 'Casa de Vila',
 'Loft',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Studio']

In [168]:
dados_residencial.shape

(23127, 9)

In [169]:
aluguel.shape

(32960, 9)

In [171]:
dados_residencial.index = range(dados_residencial.shape[0])

In [172]:
dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
23122,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
23123,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
23124,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
23125,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
23126,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

## Exportando Base de Dados

In [178]:
dados_residencial.to_csv('/content/drive/MyDrive/Dataset/Aluguel/dados_residencial.csv', sep = ';', index = False)